{{right_sidebar_enabled = True}}
{{extend 'layout.html'}}

<p>Tento web byl vytvořen jako evidence pro organizátory, radu, dozorčí komisi a pokladníka našeho občanského sdružení.<br />
Účastníkům akcí poskytuje informace o placení a umožňuje některá nastavení (v jejich profilu). 
</p>

<h2>Prosím, zvol pozorně správnou možnost:</h2>

<div class="obly modry initsel" id="initsel_login"><b>Na tyto stránky se už vracím opakovaně</b> - <a href="{{=URL('user', args=('login','vracim_se'))}}" id="a_login">přihlaš se</a></div>

<div class="obly modry initsel" id="initsel_mail"><b>Jsem už registrován přihlášením na fungujemeaktivne.cz</b> <small>od března 2015</small> *)<b>, ale ještě jsem tu nebyl</b> - <a href="{{=URL('user', args=('request_reset_password',))}}" id="a_mail">přístup získáš zde</a> stejně jako když neznáš heslo: zaslaný mail Ti umožní si heslo nastavit. Použij mailovou adresu jako při původní registraci.</div>

<div class="obly modry initsel" id="initsel_register"><b>Ani jedno z předchozího</b> není můj případ - <a href="{{=URL('user', args=('register','opravdu_novy'))}}" id="a_register">zaregistruj se</a></div>
<small style="float: right;">*) nebo na spolecneaktivity.cz v prehistorii (do r.2013) pod číslem do 674</small>

<br /><br /><p><span class="obly zluty"><a href="{{=URL('info', 'poprve')}}"><strong>Platím jen jednou - můžu nějak ošidit jedinou platbu ?</strong></a></span></p>

{{block header}}
  {{if aktualita:}}
    <div class="aktualita"><p class="center"><span>
    <span id="aktualne">aktuálně:</span>{{=XML(aktualita)}}</span></p></div>
  {{pass}}
{{end}}

{{block right_sidebar}}
{{include 'incl/bocni.html'}}
{{end}}

{{block footer}}
{{include 'incl/kdojekdo.html'}}

   <script src="{{=URL('static', 'js/jquery.color.js')}}"></script>
   <script src="{{=URL('static', 'js/platby.js')}}"></script>
 {{end}}
