*.tmp
*.bak
*.bk
*.zip
*.log
*- kopie*.*
____*.*

maily/
import_*/

odpad*/
Backup*/
bk*/
backup*/
bin/
tmp/

*.py[co]
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/

uploads/
downloads/
databases/*.*
cache/*.*
private/*.*
errors/*.*
sessions/*.*

.installed.cfg
pip-log.txt
