{{right_sidebar_enabled = True}}
{{extend 'layout.html'}}

<h5>spolecneaktivity.cz</h5>

<p>Nezaměňuj web <a href="http://www.spolecneaktivity.cz">spolecneaktivity.cz</a> s občanským sdružením Společné Aktivity. Web provozuje soukromý podnikatel Jiří Pouček.</p>

<p>Do roku 2012(-2013) sdružení na uvedeném webu působilo, ale nevyjasněné vztahy mezi soukromým projektem s ambicemi jeho vlastníka a mezi dobrovolnou prací organizátorů nutně vedly k napětí a nakonec k odchodu do striktně neziskového prostředí, kde dobrovolné úsilí více lidí nemůže být zneužíváno jedincem - vlastníkem.</p>

<p>Sdružení nyní působí na serveru <a href="http://fungujemeaktivne.cz">FungujemeAktivne</a>.</p>

{{=A('předchozí text', _href=URL('fungujeme'))}} --
{{=A('další text', _href=URL('organizatori'))}}

{{block right_sidebar}}
{{include 'incl/bocni.html'}}
{{end}}

{{block footer}}
{{include 'incl/kdojekdo.html'}}
{{end}}
