{{right_sidebar_enabled = True}}
{{extend 'layout.html'}}

<h5>Pro organizátory předem placených akcí</h5>

<p>Organizátoři předem placených akcí <b>musí zajistit výdajové doklady</b> (faktury - daňové doklady, příjmové doklady nebo pokladní stvrzenky) k výdajům, které sdružení proplatí. V opačném případě bychom totiž museli všechny platby účastníků akcí zdanit, jako by se jednalo o zisk sdružení - což by samozřejmě nesmyslně prodražovalo účast na akcích.</p>

<p>Doklady se předávají a peníze se vyrovnávají s pokladníkem sdružení.</p>

<p>Všechny příjmy, které organizátor získá od účastníků, a všechny výdaje, které učiní, musí být co nejdříve po transakci zapsány na tento web. Dále musí být zaznamenána všechna předání peněz mezi organizátorem a pokladníkem (ať už je na web zapíše organizátor nebo pokladník).</p>

<div class="obly modry">
<p>Organizuješ-li placené akce, nastav si v {{if auth.user:}}<a href="{{=URL('default', 'user', args='profile')}}">profilu</a>{{else:}}profilu{{pass}} předvolbu Organizátor placených akcí - přibyde Ti nová volba menu Záznamy do pokladny. Pomocí této volby zapisuj všechny výše uvedené příjmy a výdaje.</p> 
</div>

{{=A('předchozí text', _href=URL('jp'))}}
{{if not auth.user:}} --
{{=A('pokračovat přihlášením na stránky', _href=URL('default', 'index'))}}
{{pass}}

{{block right_sidebar}}
{{include 'incl/bocni.html'}}
{{end}}

{{block footer}}
{{include 'incl/kdojekdo.html'}}
{{end}}
