{{right_sidebar_enabled = True}}
{{extend 'layout.html'}}

<h5>Společné aktivity o.s.</h5>

<p>Naše sdružení je otevřená parta lidí a přátel, kteří se účastní akcí na komunitních serverech, případně je občas pořádají.<br />
Aby organizátor měl při komukoli otevřených akcích jistotu skutečné účasti přihlášených a snazší agendu, pořádáme některé akce jako předem placené.</p>

<div class="obly modry">
Jsi srdečně zván(a) se přidat a stát se členem/členkou sdružení (dole najdeš potřebné kontaktní údaje).
</div>

{{=A('předchozí text', _href=URL('poprve'))}} --
{{=A('další text', _href=URL('fungujeme'))}}

{{block right_sidebar}}
{{include 'incl/bocni.html'}}
{{end}}

{{block footer}}
{{include 'incl/kdojekdo.html'}}
{{end}}
