{{right_sidebar_enabled = True}}
{{extend 'layout.html'}}

<div class="obly modry">
<h4>Na záloze máš: {{=zaloha}} Kč</h4>

{{if sa_ss:}}
<p><b>To nezahrnuje část zálohy, která je umístěna na spolecneaktivity.cz.</b><br />
{{if sa_zal[1]!=None:}}
Výše této části osobní zálohy k {{=sa_zal[0].strftime('%d.%m.%Y %H:%M')}} byla <b>{{=sa_zal[1]}} Kč</b>.<br />{{pass}}
{{if sa_zal[1]:}}
Pokud jsi tedy od té doby na spolecneaktivity.cz neplatil za žádnou akci, máš <b>celkem na záloze {{=zaloha+sa_zal[1]}} Kč</b>,
jenže {{=sa_zal[1]}} Kč lze použít jen pro akce na spolecneaktivity.cz - pokud nepožádáš (níže) o převedení zmíněné částky do této evidence.<br />{{pass}}
<small>Přesnou aktuální výši osobní zálohy na spolecneaktivity.cz najdeš zde: 
<a href="http://www.spolecneaktivity.cz/ucet/platby">podrobné vyúčtování za server spolecneaktivity.cz</a>.
</small></p>
</div>

<div class="obly modry">
<p>{{if clen:}}Jsi členem sdružení Společné Aktivity o.s.{{else:}}Zde bude zobrazena informace o členství / přihláška do sdružení.{{pass}}</p> 

<p><b><a href="{{=URL('seber_jirkovi')}}">Žádám o převedení zbylé zálohy ze spolecneaktivity.cz do této evidence</a>,<br />
abych ji mohl využít i pro akce na "fungujeme".</b></p>
{{pass}}

{{if zaloha>0 or bere_jirkovi:}}
<p><a href="{{=URL('vratit_zalohu')}}">Žádám o vrácení zálohy na běžný účet.</a></p>
{{else:}}
<p><small>Nezobrazuje se Žádost o vrácení zálohy, protože zde nemáš žádný zůstatek. Pokud máš zůstatek v evidenci na spolecneaktivity.cz, požádej nejprve výše o převedení.</small></p>
{{pass}}

</div>

<p><a href="{{=URL('pohyby')}}">Pohyby na záloze</a> --
<a href="{{=URL('info', 'coajak', args='strucneji')}}">Jak mám platit</a></p>


{{block right_sidebar}}
{{include 'incl/bocni.html'}}
{{end}}

{{block footer}}
{{include 'incl/kdojekdo.html'}}
{{end}}
