<div class="obly zluty">
  <p>Zde zveřejňujeme akce</p>
  <h5><a href="http://www.fungujemeaktivne.cz">Fungujeme aktivně</a></h5>
</div>

<div class="obly svetlezluty">
  <p>Dočasné, zatím ne ideálně aktualizované stránky našeho sdružení</p>
  <h6><a href="http://www.sdruzeni.tode.cz/">na tode.cz</a></h6>
</div>

<div class="obly svetlesedy" id="rekl"><small>
<p class="hustsi">
Potřebujete podobnou zabezpečenou webovou evidenci plateb pro Vaši neziskovku, spolek, bytové družstvo?
</p>
<i>Více zjistíš zde:</i><br />
732457966, zvolsky@seznam.cz
</small></div>
