<div class="obly zluty">
  <p>Zde můžeš přejít na některý ze serverů, kde zveřejňujeme akce</p>
  <h5><a href="http://fungujeme.aspone.cz">Fungujeme</a></h5>
  <h5><a href="http://www.spolecneaktivity.cz">Společné aktivity Jiřího Poučka</a></h5>
</div>

<div class="obly svetlesedy" id="rekl"><small>
<p class="hustsi">
Potřebujete podobnou zabezpečenou webovou evidenci plateb pro Vaši neziskovku, spolek, bytové družstvo?
</p>
<i>Více zjistíš zde:</i><br />
732457966, zvolsky@seznam.cz
</small></div>

<!--
<div class="obly zluty">
  <p>Připravujeme</p>
  <h5><a href="#">Překvapení</a></h5>
  <p>Navštiv nás, prosím, znova později a vyzkoušej tuto skvělou novou funkci.</p>
</div>
-->
