<div class="obly zluty">
  <p>Zde můžeš přejít na některý ze serverů, kde zveřejňujeme akce</p>
  <h5><a href="http://fungujeme.aspone.cz">Fungujeme</a></h5>
  <h5><a href="http://www.spolecneaktivity.cz">spolecneaktivity.cz</a></h5>
</div>

<div class="obly svetlezluty">
  <p>Dočasné, zatím ne ideálně aktualizované stránky našeho sdružení</p>
  <h6><a href="http://www.sdruzeni.tode.cz/">na tode.cz</a></h6>
  <p><a href="http://www.spolecneaktivity.cz/komunity/spolecne-aktivity-os">na spolecneaktivity.cz</a><br /> - <small>podstránky sdružení (působení sdružení na webu v historii) byly zrušeny rozhodnutím Jiřího Poučka od 18.11.2013</small></p>
</div>

<div class="obly svetlesedy" id="rekl"><small>
<p class="hustsi">
Potřebujete podobnou zabezpečenou webovou evidenci plateb pro Vaši neziskovku, spolek, bytové družstvo?
</p>
<i>Více zjistíš zde:</i><br />
732457966, zvolsky@seznam.cz
</small></div>
