<small>
<div class="obly sedy">
Číslo účtu sdružení:   </small><b>2800132182 / 2010</b><small> (FIO Banka)<br />
Kontakt na sdružení:   sdruzeni@spolecneaktivity.cz<br />
Kontakt na pokladníka: Mirek Zv., sdruzeni@spolecneaktivity.cz, zvolsky@seznam.cz, 732457966
</div>

<p><b>Tyto stránky</b> a stránky <a href="http://fungujeme.aspone.cz">fungujeme.aspone.cz</a> <b>provozuje Společné Aktivity o.s.</b> To znamená, že členové sdružení (po rozhodnutí volených zástupců) mohou ovlivňovat obsah uvedených stránek a mají také přístup ke zdrojovým kódům a právo je upravovat.</p>
<p>Stránky <a href="http://www.spolecneaktivity.cz">spolecneaktivity.cz</a> naproti tomu jsou soukromým podnikatelským projektem pana Jiřího Poučka. Žádná osoba, pokud není zadobře s Jiřím Poučkem, nemůže obsah stránek spolecneaktivity.cz jakkoli ovlivnit, na což naše sdružení mnohokrát narazilo.</p>
<p>Aby uživatelé nebyly zmateni, snažíme se vždy označovat soukromý projekt Jiřího Poučka jako "Společné aktivity Jiřího Poučka" nebo "spolecneaktivity.cz". Označením "Společné Aktivity" vždy myslíme Společné Aktivity o.s. - jedinou právnickou (u státu registrovanou) osobu tohoto jména (pro jistotu obvykle uvádíme "Společné Aktivity o.s.").</p>
</small>
