<small>
<div class="obly sedy">
Číslo účtu sdružení:   </small><b>2800132182 / 2010</b><small> (FIO Banka)
<a href="{{=URL('info', 'coajak')}}">podrobnosti pro platbu zde</a><br />
Kontakt na sdružení:   spolecneaktivityos@gmail.com
<small>- pro jistotu piš kopii, např. pav.dufek@atlas.cz (předseda), sqwert@seznam.cz (fungujemeaktivne a přihlášení na akce)</small><br />
Kontakt na pokladníka: Mirek Zv., zvolsky@seznam.cz, 732457966
</div>

<p><b>Tyto stránky</b> a stránky <a href="http://www.fungujemeaktivne.cz">fungujemeaktivne.cz</a> <b>provozuje Společné Aktivity o.s.</b></p>
<p><small>spolupráce se serverem spolecneaktivity.cz byla ukončena rozhodnutím jeho majitele J.Poučka dne 18.11.2013</small></p>
