{{extend 'layout.html'}}

{{if lnk:}}
  <p>{{=lnk}}</p>
  {{pass}}

{{if hdr:}}
  <p><b>{{=hdr}}</b></p>
  {{pass}}

<div class="obly modry"><table>
{{for idx, pohyb in enumerate(pohyby):
  kdo = pohyb.auth_user.nick
  if not kdo:
    kdo = not pohyb.pohyb.kod_banky and pohyb.pohyb.cislo_uctu or ''
    if kdo:
      kdo = '~ '+kdo
      pass
  pass
  if casoprubeh:
    =TR(TD(pohyb.pohyb.datum.strftime('%d.%m.%Y')), TD(pohyb.md.zkratka), TD(pohyb.dal.zkratka), TD(B(pohyb.pohyb.castka), _style="text-align: right;"), TD(casoprubeh[idx], _style="text-align: right;"), TD(pohyb.org.nick or ''), TD(kdo), TD(pohyb.pohyb.zakaznik or pohyb.pohyb.ss or '', _style="text-align: right;"), TD(not pohyb.pohyb.cislo_uctu and pohyb.pohyb.nazev_banky or pohyb.pohyb.popis or ''), auth.has_membership('pokladna') and TD(A("edit", _href="%s"%URL('prehledy', 'edit_pohyb', args=pohyb.pohyb.id, vars={'section':'podvojne', 'next':'%s/%s'%(request.function, request.raw_args)}))) or '', auth.has_membership('pokladna') and TD(A("del", _href="%s"%URL('prehledy', 'del_pohyb', args=pohyb.pohyb.id, vars={'section':'podvojne', 'next':'%s/%s'%(request.function, request.raw_args)}))) or '')
  else:
    =TR(TD(pohyb.pohyb.datum.strftime('%d.%m.%Y')), TD(pohyb.md.zkratka), TD(pohyb.dal.zkratka), TD(B(pohyb.pohyb.castka), _style="text-align: right;"), TD(pohyb.org.nick or ''), TD(kdo), TD(pohyb.pohyb.zakaznik or pohyb.pohyb.ss or '', _style="text-align: right;"), TD(not pohyb.pohyb.cislo_uctu and pohyb.pohyb.nazev_banky or pohyb.pohyb.popis or ''), auth.has_membership('pokladna') and TD(A("edit", _href="%s"%URL('prehledy', 'edit_pohyb', args=pohyb.pohyb.id, vars={'section':'podvojne', 'next':'%s/%s'%(request.function, request.raw_args)}))) or '', auth.has_membership('pokladna') and TD(A("del", _href="%s"%URL('prehledy', 'del_pohyb', args=pohyb.pohyb.id, vars={'section':'podvojne', 'next':'%s/%s'%(request.function, request.raw_args)}))) or '')
    pass
  pass}}
</table></div>

{{if lnk:}}
  <p>{{=lnk}}</p>
  {{pass}}
